.Weather {
  padding: 15px;
  margin-top: 10px;
}

.Weather ul {
  list-style: none;
  padding: 0;
}

.degree-value {
  font-size: 48px;
}

.degree-type {
  font-size: 13px;
  position: relative;
  top: -13px;
  white-space: nowrap;
  margin-left: 4px;
}

.stats {
  font-size: 13.5px;
  color: #7f8488;
}

.date-header {
  font-size: 20px;
  font-weight: 500;
  color: #e6e9ec;
}

.WeatherData .date-description {
  text-align: right;
  font-size: 16px;
  color: #7f8488;
}

.WeatherData .date {
  font-size: 22px !important;
  white-space: nowrap;
}

.Weather input {
  border-radius: 6px;
  height: 40px;
  width: 50%;
  margin: -8px 5px 10px 0;
}

.Weather button {
  position: relative;
  top: -2px;
}
