.App {
  min-height: 100%;
}

.container {
  padding: 40px;
  max-width: 700px;
  width: 100%;
  min-height: 100vh;
}

.App--dark {
  background-color: #202124;
  color: #e6e9ec;
}
.App--light {
  background-color: #fff;
  color: #202124;
}

.App footer {
  font-size: 13px;
}

.border {
  border: 1.5px solid #7f8488 !important;
  border-radius: 4px;
  padding: 6px;
  width: 100%;
  max-width: 700px;
}
