.Weather {
  padding: 15px;
  margin-top: 10px;
}

.Weather ul {
  list-style: none;
  padding: 0;
}

.degree-value {
  font-size: 48px;
}

.degree-type {
  font-size: 13px;
  position: relative;
  top: -13px;
  white-space: nowrap;
  margin-left: 4px;
}

.stats {
  font-size: 13.5px;
  color: #9aa0a5;
}

.date-header {
  font-size: 20px;
  font-weight: 500;
  color: #e6e9ec !important;
}

.date {
  text-align: right;
  font-size: 16px;
  color: #9aa0a5;
}
